<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div class="card" style="width: 18rem;">
    <img th:src="@{/uploads/ryzen9.jpg}" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Procesador AMD Ryzen 9 9950X3D 5.7GHz Turbo AM5 - No Incluye Cooler
        </p>

        <h2 class="card-title">1.000.000$
            <button type="button" class="btn btn-danger">
                <i class="bi bi-cart3"></i>
            </button>
        </h2>

    </div>
</div>
</body>
</html>